@font-face {
    font-family: '__Futura Hv BT_5';
    src: url('/iimteresante/fonts//futura-heavy-font1.eot');
    src: local('☺'), url('/iimteresante/fonts/futura-heavy-font1.woff') format('woff'), url('/iimteresante/fonts/futura-heavy-font1.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "__Futura_5";
    src: url("/iimteresante/fonts/futur.eot");
    src: local("â˜º"), url("/iimteresante/fonts/futur.woff") format("woff"), url("/iimteresante/fonts/futur.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "__Futura Md BT_5";
    src: url("/iimteresante/fonts/futura-medium-bt1.eot");
    src: local("â˜º"), url("/iimteresante/fonts/futura-medium-bt1.woff") format("woff"), url("/iimteresante/fonts/futura-medium-bt1.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "__Avenir_5";
    src: url("/iimteresante/fonts/avenir-book.eot");
    src: local("â˜º"), url("/iimteresante/fonts/avenir-book.woff") format("woff"), url("/iimteresante/fonts/avenir-book.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "__Bidena";
    src: url("/iimteresante/fonts/Bidenatrial.otf");
    src: local("â˜º"), url("/iimteresante/fonts/Bidenatrial.ttf") format("woff"), url("/iimteresante/fonts/Bidenatrial.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}